bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/
LC.targets
ThunderStore/WarperSan-ShipInventory/ShipInventory.dll
ThunderStore/SoftDiamond-ShipInventoryUpdated/ShipInventoryUpdated.dll
