<Project>

  <PropertyGroup>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <DeployAsIisApp>False</DeployAsIisApp>
    <EnableMSDeployAppOffline>True</EnableMSDeployAppOffline>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <ExcludeFilesFromAppData>True</ExcludeFilesFromAppData>
    <ExcludeFilesFromDeployment>bin\**;obj\**</ExcludeFilesFromDeployment>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <MSDeployPublishMethod>FileSystem</MSDeployPublishMethod>
    <PublishDir>$(SolutionDir)\artifacts\tspublish\dist\plugins</PublishDir>
    <PublishFramework>$(TargetFramework)</PublishFramework>
    <PublishProtocol>FileSystem</PublishProtocol>
    <SkipACLAttribute>True</SkipACLAttribute>
    <SkipAppDataFolder>True</SkipAppDataFolder>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <UsePowerShell>False</UsePowerShell>
    <WebPublishMethod>FileSystem</WebPublishMethod>
  </PropertyGroup>

  <Target Name="NetcodePatch" AfterTargets="Publish">
    <Exec
      Command="dotnet tool run netcode-patch -uv 2022.3.62 -nv 1.12.0 -tv 1.0.0 &quot;$(TargetPath)&quot; @(ReferencePathWithRefAssemblies->'&quot;%(Identity)&quot;', ' ')" />
  </Target>


  <Target Name="CustomPublish" AfterTargets="NetcodePatch">
    <ItemGroup>
      <FilesToExclude Include="$(PublishDir)\.gitkeep" />
      <FilesToExclude Include="$(PublishDir)\0Harmony.dll" />
      <FilesToExclude Include="$(PublishDir)\Assembly-CSharp.dll" />
      <FilesToExclude Include="$(PublishDir)\BepInEx.dll" />
      <FilesToExclude Include="$(PublishDir)\Mono.Cecil*.dll" />
      <FilesToExclude Include="$(PublishDir)\MonoMod.*.dll" />
      <FilesToExclude Include="$(PublishDir)\Newtonsoft.Json.dll" />
      <FilesToExclude Include="$(PublishDir)\System.*.dll" />
      <FilesToExclude Include="$(PublishDir)\UnityEngine*.dll" />
      <FilesToExclude Include="$(PublishDir)\Microsoft.CSharp.dll" />
      <FilesToExclude Include="$(PublishDir)\ShipInventoryUpdate.dll" />
    </ItemGroup>
    <Delete Files="@(FilesToExclude)" />
  </Target>

  <Target Name="ThunderstorePublish" AfterTargets="CustomPublish">
    <ItemGroup>
      <PackageFiles Include="$(SolutionDir)\CHANGELOG.md" />
      <PackageFiles Include="$(SolutionDir)\LICENSE" />
    </ItemGroup>
    <ItemGroup>
      <ResourceFiles
        Include="$(SolutionDir)\src\ShipInventoryUpdated\bin\Release\ShipInventoryUpdated.dll" />
      <ResourceFiles Include="$(SolutionDir)\src\ShipInventoryUpdated\Resources\Localization\*.json" />
      <ResourceFiles Include="$(SolutionDir)\src\ShipInventoryUpdated\Resources\Bundles\si-bundle" />
    </ItemGroup>

    <Copy
      DestinationFolder="$(SolutionDir)\artifacts\tspublish\dist"
      SourceFiles="@(PackageFiles)"
    />

    <Copy
      DestinationFolder="$(SolutionDir)\artifacts\tspublish\dist\plugins"
      SourceFiles="@(ResourceFiles)"
    />

    <Exec
      Command='dotnet tcli publish --package-name "$(Product)" --package-namespace "$(Authors)" --package-version "$(PACKAGE_VERSION)"'
      ConsoleToMSBuild="true"
      WorkingDirectory="$(SolutionDir)\artifacts\tspublish"
    />
  </Target>

</Project>
